<div class="messages">
  <%- messages('message', locals) %>
  <% if(locals.errors && errors){ %>
    <% errors.forEach(function(error) { %>
      <p style="color: red"><%= error.msg %></p>
    <% }); %>
  <% } %>
</div>
