<nav>
  <div class="container">
    <div class="header">
      <div class="navigation">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <% if(locals.user && user){ %>
          <li>
            <a href="/products/add">Add Product</a>
          </li>
          <% } %>
        </ul>
        <ul>
          <% if(locals.user && user){ %>
          <li>
            <a href="/users/logout">Logout</a>
          </li>
          <% } else{ %>
          <li>
            <a href="/users/registration">Register</a>
          </li>
          <li>
            <a href="/users/login">Login</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>
<%- include('errors.ejs'); -%>
