<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dockerized node app with ejs - Edit Product</title>
  </head>
  <body>
    <%- include('partials/navigation.ejs'); -%>
    <h1><%= title %></h1>
    <form method="POST" action="/products/edit/<%= product._id %>">
      <div>
        <label>Title:</label>
        <input name="name" type="text" value="<%= product.name %>" />
        <input name="creator" type="hidden" value="<%= product.creator %>" />
      </div>
      <div>
        <label>Price:</label>
        <input name="price" type="text" value="<%= product.price %>" />
      </div>
      <div>
        <label>Currency ("USD", "EUR" or "GBP"):</label>
        <input name="currency" type="text" value="<%= product.currency %>"/>
      </div>
      <div>
        <label>Body:</label>
        <textarea name="description"><%= product.description %></textarea>
      </div>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
