<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dockerized node app with ejs - Home</title>
  </head>
  <body>
    <%- include('partials/navigation.ejs'); -%>
    <% if(locals.products && products.length){ %>
      <h1><%= title %></h1>
      <ul>
        <% products.forEach(function(product) { %>
          <li>
            <a href="/products/<%= product._id %>"><%= product.name %></a>
          </li>
        <% }); %>
      </ul>
    <% } %>
  </body>
</html>
