<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dockerized node app with ejs - Login</title>
  </head>
  <body>
    <%- include('partials/navigation.ejs'); -%>
    <h1>Login</h1>
    <form method="POST" action="/users/login">
      <div>
        <label>Username:</label>
        <input name="username" type="text" />
      </div>
      <div>
        <label>Password:</label>
        <input name="password" type="password" />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
