<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dockerized node app with ejs - New Product</title>
  </head>
  <body>
    <%- include('partials/navigation.ejs'); -%>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/products/add">
      <div>
        <label>Name:</label>
        <input name="name" type="text" />
      </div>
      <div>
        <label>Price:</label>
        <input name="price" type="text" />
      </div>
      <div>
        <label>Currency ("USD", "EUR" or "GBP"):</label>
        <input name="currency" type="text" />
      </div>
      <div>
        <label>Description:</label>
        <textarea name="description"></textarea>
      </div>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
