<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dockerized node app with ejs - Product: <%= product.name %></title>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/delete-product.js"></script>
  </head>
  <body>
    <%- include('partials/navigation.ejs'); -%>
    <h1><%= product.name %></h1>
    <p><%= product.price %></p>
    <p><%= product.currency %></p>
    <p><%= product.decription %></p>
    <hr />
    <% if(locals.user && user && user.id && user.id === product.creator){ %>
      <a href="/products/edit/<%= product._id %>">Edit</a> |
      <a class="delete-product" href="#" data-id="<%= product._id %>">Delete</a>
    <% } %>
  </body>
</html>
