<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dockerized node app with ejs - User Registration</title>
  </head>
  <body>
    <%- include('partials/navigation.ejs'); -%>
    <h1>Register</h1>
    <form method="POST" action="/users/registration">
      <div>
        <label>Name:</label>
        <input name="name" type="text" />
      </div>
      <div>
        <label>Email:</label>
        <input name="email" type="text" />
      </div>
      <div>
        <label>Username:</label>
        <input name="username" type="text" />
      </div>
      <div>
        <label>Password:</label>
        <input name="password" type="password" />
      </div>
      <div>
        <label>Confirm Password:</label>
        <input name="confirmed-password" type="password" />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
